h1.title a {
    display: block;
    width: 160px;
    height: 60px;
    font-size: 0;
    background: url("img/2xjack_logo.png") left top/160px auto no-repeat;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}