h1.title a {
    display: block;
    width: 160px;
    height: 60px;
    font-size: 0;
    background: url("img/2xjack_logo.png") left top/160px auto no-repeat;
}

body {
    font-family: 'Noto Serif JP', serif;
}

.bg-img-main {
    background-image: url("img/main.jpg");
    background-position: center;
    background-size: cover;
}

.bg-img-profile {
    background-image: url("img/company.jpg");
    background-position: center;
    background-size: cover;
}